h1{
    text-align: center;
    background-color: white;
}

body{

background-color: #f1f7f6;

}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e21d2;
  
}

li{
    float: left;
    
}

nav a{

    text-decoration: none;
    display: block;
    padding: 15px;
    margin-right: 20px;
    color: white;
    /* width: 70; */
    font-size: 1.5rem;
 
  
}

nav a:hover{
    background-color:rgb(120, 158, 215) ;
    color: #0b0f10;
    border: 1px solid rgb(5, 5, 44);

}




 .definition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.definition .inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.definition p {
    word-wrap: break-word;
    border-style: double;
    border-radius: 10px;
    border-color: #333;
    background-color: rgba(0,0,0,0.4);
    margin-right: 90px;
    padding: 30px;
    flex: 1;
}

.definition img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    flex: 1;
}

.prdct{
    display: grid;
    grid-template-columns: repeat(2,1fr);}

    .mobile{
    
        height: 300px;
        width: 300px;
        margin: 2%;
        padding: 2%;
        border-radius: 10%;
    }


    .para{
        background-color: rgba(0,0,0,0.7);
        color: white;
        /* font-size: 1.5rem;
        height: auto; */
        margin: 5%;
        padding: 10%;
        /* font-weight: 700;
        line-height: 1.5; */
        border-radius: 5px;

        border-width: 20;
 
    
    }    

footer {
    text-align: end;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


#contacts{display: flex;
    justify-content: center;
    margin: 200;
    color: #1e21d2;
    

    
    
}


#contacts i:hover{
    color: rgb(20, 173, 35);
}

#contacts i{
    font-size: 6rem;
   
}

.wp{

    margin-right: 100
    ;
    margin-left: 100;
}

.descrip{
    display: flex;
    
   background-color: rgba(5, 6, 36, 0.4);
   border-radius: 10px;
   padding: 20;
   margin: 10;
   color: white;

}

