h1{
    text-align: center;
    background-color: aquamarine;
}

body{

background-color: #e9e9ee;

}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e21d2;
  
}

li{
    float: left;
    
}

nav a{

    text-decoration: none;
    display: block;
    padding: 15px;
    margin-right: 20px;
    color: white;
    /* width: 70; */
    font-size: 1.5rem;
 
  
}

nav a:hover{
    background-color:rgb(120, 158, 215) ;
    color: #0b0f10;
    border: 1px solid rgb(5, 5, 44);

}




 .definition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.definition .inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.definition p {
    word-wrap: break-word;
    border-style: double;
    border-radius: 10px;
    border-color: #333;
    background-color: rgba(0,0,0,0.4);
    margin-right: 90px;
    padding: 30px;
    flex: 1;
}

.definition img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    flex: 1;
}

footer {
    text-align: end;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
