ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e21d2;
  
}

li{
    float: left;
    
}

nav a{

    text-decoration: none;
    display: block;
    padding: 15px;
    margin-right: 20px;
    color: white;
    width: 70;
    font-size: 1.5rem;
 
  
}

nav a:hover{
    background-color:rgb(120, 158, 215) ;
    color: #0b0f10;
    border: 1px solid rgb(5, 5, 44);

}
